.titleOne{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 60px;
    margin-top: 5%;
    padding: 15%;
    background-image: url(/public/end.jpg);
    background-repeat: no-repeat;
}

.id{
    display: flex;
    justify-content: center;
    background-color: cadetblue;
    color: aliceblue;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.titleTwo{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 60px;
    margin-top: 5%;
    margin-bottom: 20%;
    padding: 20%;
    background-image: url(/public/start.jpg);
    
}

.total{
    width: 30%;
    display: inline-flex;
    justify-content: center;
    border: none;
    padding: 2%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color:rgb(30, 182, 111);
    color:  bisque;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-size: x-large;
}

.delete{
    width: 15%;
    display: inline-flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 5%;
    background-color: blanchedalmond;
    color: black;
    border: none;
    border-radius: 5%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    padding: 2%;
}

.delete:hover{
    background-color: gray;
    cursor: pointer;
    transition:0.5s;
}