.cartButton{
    display: inline-flex;
    justify-content: center;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(72, 132, 11);
    color: black;
    font-size: larger;
    padding: 2%;
    border: 2px solid black;
}

.description{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 2%;
    font-size: x-large;
}