.divContainer{
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

.name, .lastName{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    background-color: cadetblue;
    padding: 3%;
    margin-top: 2%;
    border: none;
    border-radius: 5%;
}

.name, .lastName:hover{
    border: 2px solid rgb(15, 52, 57);
    transition: 0.5s;
}

.p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 100%;
}

.select{
    padding: 2%;
    margin-bottom: 5%;
}

.button{
    width: auto;
    display: inline-flex;
    justify-content: center;
    margin: auto;
    background-color: cadetblue;
    padding: 5%;
    color: black;
    margin-top: 20px;
    border: none;
    border-radius: 5%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
}

.button:hover{
    background-color: rgb(47, 102, 104);
    color: aliceblue;
    transition: 0.5s;
    cursor: pointer;
}