.main-container{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.saludo{
    width: 82%;
    display: flex;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20%;
    background-color: bisque;
    color: rgb(11, 102, 39);
    position: absolute;
    z-index: 1;
    
}

.video{
    width: 100%;
    position: relative;
    z-index: 0;
    margin-right: 10%;
}

