.saludo{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 90%;
    margin: auto;
    padding: 3%;
    display: flex;
    justify-content: center;
    color: rgb(15, 98, 14);
    position: absolute;
    z-index: 1;
}

