.mainContainer{
    width: 90%;
    padding: 3%;
    display: flex;
    justify-content: center;
    color: rgb(27, 139, 101);
}

.secondContainer{
    width: 90%;
    padding: 3%;
    display: flex;
    justify-content: center;
    color: rgb(13, 86, 62);
}