.cardContainer, .counter{
    width: 20%;
    height: 30em;
    display: inline-flex;
    justify-content: center;
    margin-left: 5%;
    margin-top: 5%;
    border: none;
    border-radius: 2%;
    background-color: rgb(102, 152, 96);
    padding: 4%;
}

.title{
width: 100%;
font-size: x-large;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
justify-content: center;
color: rgb(4, 61, 38);
text-align: center;
}

.cardContainer:hover{
    background-color:  rgb(158, 210, 151);
    transition: 1.5s;
}

.img{
    width: 100%;
}

.price{
display: flex;
justify-content: center;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: x-large;
color:rgb(4, 61, 38);
margin-top: 12%;
}

.details{
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: bisque;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    border: none;
    border-radius: 5%;
    padding: 5%;
}

.details:hover{
    background-color: rgb(17, 93, 60);
    color: aliceblue;
    transition: 0.5s;
    cursor: pointer;
}