.cardContainer, .counter{
    width: 30%;
    display: inline-flex;
    justify-content: space-evenly;
    margin: 1.5%;
    border: 2px solid rgb(2, 63, 29);
    padding: 4%;
}


.cardContainer:hover{
    background-color: rgb(128, 208, 182);
    transition: 1s;
}

.img{
    width: 100%;
   position: cover;
}

