.nav{
    width: 80%;
    display: inline-flex;
    margin: auto;
}

.lista{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: flex-start;
    font-weight: 500;
    font-size: larger;
    padding: 2%;
}

.links{
    color: rgb(30, 108, 29);
    text-decoration: none;
}

.links:hover{
    color: rgb(9, 74, 33);
}

.carrito{
    height: 50px;
}
.carrito:hover{
    cursor: pointer;
}