.nav{
    width: 80%;
    margin: auto;
    overflow-x: hidden;
    margin-bottom: 5%;
    display: flex;
    justify-content: flex-start;
    font-weight: 800;
    font-size: larger;
    padding: 2%;
}

.links{
    display: inline-flex;
    padding: 2%;
    color: rgb(41, 139, 39);
    text-decoration: none;
}

.links:hover{
    color: rgb(9, 74, 33);
    transition: 0.5s;
}

.cart{
    color: blueviolet;
}