.contador{
    width: 80%;
    font-size: x-large;
}

.suma, .resta{
    display: inline-flex;
    justify-content: center;
    margin: 8%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(72, 132, 11);
    color: bisque;
    font-size: larger;
    padding: 4%;
    border: none;
    border-radius: 5%;
}

.numero{
    display: inline-flex;
    justify-content: center;
    margin: auto;
    color: rgb(52, 92, 11);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.texto{
    display: inline-block;
    margin-top: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(95, 143, 47);
    color: bisque;
    font-size: large;
    padding: 5%;
    border: none;
    border-radius: 5%;
}

.texto:hover{
    background-color: rgb(57, 106, 8);
    transition: 0.5s;
}

.suma, .resta, .texto:hover{
    cursor: pointer;
}